body {
    overflow-x: hidden;
    background-color: #f9f9f7;
}

#adRegister .main_block {
    border-radius: 20px;
    box-shadow: 1px 0px 10px #e6e6e6;
}

.adminRegLogTitle {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

.authForm select {
    border: 1px solid #999999;
    border-radius: 8px;
    font-size: 14px;
    background-color: transparent;
}

.authForm label {
    text-transform: capitalize;
    font-size: 14px;
}